*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header_top{
    display: flex;
    border: 1px solid #75b326;
    justify-content: space-between;
    background-color: #75b326;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 38px;
    padding-left: 110px;
    padding-right: 110px;
}
a{
    text-decoration: none;
    color: white;
}
.icon_left{
    margin-right: 3px;
}
.name_left{
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
}
.header_left{
    display: flex;
}
.account{
    display: flex;
    margin-right: 20px;
}
.order{
    display: flex;
}
.header_right{
    display: flex;
}
.search{
    display: flex;
    justify-content: space-between;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: fit-content;
    width: 150px;
    padding: 0px 10px;
    align-items: center;
    font-size: 12px;
    color: whitesmoke;
    margin-right: 25px;
}
.icon_search{
    padding-top: 2px;
}
.tel{
    display: flex;
    border-radius: 3px;
    align-items: center;
    color: white;
    width: 120px;
    justify-content: space-between;
    padding-left: 3px;
    margin-right: 25px;
}
.icon_tel{
    padding-top: 3px;
}
.social{
    display: flex;
    align-items: center;
}
.icon_right_border{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 6px;
}
.header_main{
    margin-top: 0px;
    display: flex;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-left: 110px;
    padding-right: 110px;
    border: 1px solid white;
    background-color: white;
    height: 75px;
}
.logo{
    display: flex;
    color: #75b326;
}
.logo img{
    width: 58px;
    height: 53px;
    margin-right: 7px;
}
.weed_name{
    padding-top: 8px;
    line-height: 20px;
    text-align: center;
}
.seven{
    font-size: 20px;
    text-align: center;
}
.weed{
    font-size: 25px;
    font-weight: bolder;
}
.navigation{
    display: flex;
}
ul{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}
li{
    list-style-type: none;
    margin-right: 40px;
}
ul li a{
    color: #75b326;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
}
a:hover{
    border: 1px solid none;
    background-color: rgba(164, 221, 80, 0.5);
    border-radius: 6px;
}
.main_image img{
    width: 100%;
}
.title{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.title_1{
    margin-bottom: 15px;
    font-weight: 600;
    color: #75b326;
}
.title_2{
    line-height: 44px;
    padding-left: 200px;
    padding-right: 200px;
}
.des{
    color: white;
    border: 1px solid none;
    background-color: #75b326;
    font-size: 16px;
    text-transform: none;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 5px;
}

a.des:hover{
    background-color: rgba(164, 221, 80, 90%);
}
.des_name{
    padding-right: 20px;
}
.des_{
    margin-right: 10px;
    padding-left: 0;
}
.img_right{
    width: 577px;
    height: 384px;
}
.main{
    display: flex;
    padding-left: 110px;
    padding-right: 110px;
}
.content{
    font-size: 15px;
    color: #85868c;
    margin-bottom: 20px;
}
.main_left{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
}
.article h2{
    font-size: 20px;
    font-weight: bolder;
}
.aside{
    height: 300px;
    border: 1px solid #75b326;
    background-color: #75b326;
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
    column-count: 3;
    column-rule: 2px dashed #a0ca72;
    padding-top: 50px;
    align-items: center;
    column-gap: 50px;
    margin-top: 30px;
    padding-bottom: 50px;
}
.order_online{
    display: flex;
    flex-direction: column;
}
.visit{
    display: flex;
    flex-direction: column;
}
.aside_image{
    border: 3px solid #a0ca72;
    width: 133px;
    height: 108px;
    text-align: center;
}
.order_online{
    margin-left: 155px;
}
.order_online .aside_image{
    padding-top: 10px;
    padding-right: 5px;
}
.visit .aside_image{
    padding-top: 10px;
    margin-left: 17px;
}
.visit{
    margin-left: 100px;
}
.consultation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
}
.consultation .aside_image{
    margin-left: 20px;
}
.aside_name{
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
@media screen and (max-width: 1024px){
    .header_container{
        position: absolute;
    }
    .main_image img{
        position: relative;
        top: 115px;
        right: -100px;
    }
    .title{
        position: relative;
        font-size: 1.5vmax;
        top: 100px;
        left: 100px;
    }
    .main{
        position: relative;
        top: 80px;
    }
    .aside{
        position: relative;
        top: 60px;
        width: 1024px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        left: 0px;
        margin-right: 0;
        background-size: 2vw;
    }
    .aside_name{
        font-size: 15px;
        text-align: center;
    }
}
@media screen and (min-width: 720px){
    .main_image img{
        position: relative;
    }
    .main_left .article .content{
        font-size: 1vmax;
    }
    .main_right img{
        width: .5vw;
    }
    .header_top .header_left{
        display: none;
    }
    .header_top .header_right{
        display: flex;
        flex-direction: row-reverse;
    }
}

